docker:
  manage_repo: False
  manage_awscli: True

  version: '18.09*'
  edition: ce

  daemon:
    options: []

  users:
    - dock

  # do not restart docker service even if configuration has changed
  service_watch: False

  config:
    dns:
      - 8.8.8.8
      - 8.8.4.4
    graph: /data/docker
    hosts:
      - unix:///var/run/docker.sock
      - tcp://0.0.0.0:2376
    log-opts:
      max-file: 7
      max-size: 1m
    registry-mirrors:
      - https://registry.docker.io:5500

  image_prune: True
  volume_prune: False
  network_prune: False
  container_prune: False

  login:
    registry.docker.io:
      user: user1
      password: stupidpassword
    registry.ecr.aws.com:
      method: aws
      env:
        AWS_REGION: eu-west-3
        AWS_ACCESS_KEY_ID: keyid
        AWS_SECRET_ACCESS_KEY: accesskey

  images:
    present:
      registry:
        tag: 2
        aliases:
          - latest

  volumes:
    present:
      registry-data: {}

  containers:
    running:
      registry:
        image: registry:2
        volumes_from:
          - registry-data
        binds:
          - /mnt/registry:/var/lib/registry
        port_bindings:
          - 5000:5000
        restart_policy: always

  compose:
    version: 1.23.2
    projects:
      project:
        path: /compose/project
        user: dock
        group: dock
        source: http://compose.io/project.tar.gz:
        source_hash: http://compose.io/project.tar.gz.md5
        archive_options: --strip-components=1
        commands:
          - name: pull
          - name: up
